/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

body,
.container,
.sneaker {
   display: flex;
   align-items: center;
   justify-content: center;
}

body {
   font-family: "Poppins", sans-serif;
   height: 100vh;
   perspective: 1000px;
}

.container {
   width: 60%;
}

.card {
   min-height: 60vh;
   width: 28rem;
   padding: 1rem 3rem;
   transform-style: preserve-3d;
   border-radius: 30px;
   box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.sneaker {
   min-height: 30vh;
}

.sneaker img {
   width: 18rem;
   z-index: 2;
   transition: all 0.75s ease-out;
}

.circle {
   position: absolute;
   width: 13rem;
   height: 13rem;
   border-radius: 50%;
   background: linear-gradient(to right,
         rgba(245, 70, 66, 0.75),
         rgba(8, 83, 156, 0.75));
   z-index: 1;
}

.info h1, .info h3 {
   text-align: center;
}

.info h1 {
   font-size: 2.5rem;
   transition: all 0.75s ease-out;
}

.info h3 {
   font-size: 1rem;
   padding: 2rem 0rem;
   color: #585858;
   font-weight: lighter;
   transition: all 0.75s ease-out;
}

.sizes {
   display: flex;
   justify-content: space-between;
   transition: all 0.75s ease-out;
}

.sizes button {
   padding: 0.5rem 2rem;
   color: #585858;
   border-radius: 30px;
   font-weight: bold;
   background: none;
   border: none;
   cursor: pointer;
   outline: none;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

button.active {
   background: #585858;
   color: white;
}

.purchase {
   margin-top: 5rem;
   margin-bottom: 2rem;
   transition: all 0.75s ease-out;
}

.purchase button {
   width: 100%;
   padding: 1rem 0rem;
   background: #f54642;
   color: white;
   border-radius: 30px;
   border: none;
   cursor: pointer;
   font-weight: bolder;
   outline: none;
}